﻿<div class="multiple-choice">
    <label ng-repeat="option in content.options">
        <input type="checkbox" checklist-model="content.answers" checklist-value="option.value"/> {{option.display}}
    </label>
</div>