﻿<h2 ng-if="isLoading">Loading..</h2>
<section ng-if="!isLoading && !thankYou">
    <h1>{{title}}</h1>
    <hr/>
    <form name="questionsForm" id="questionsForm">
        <ul class="list-group questions">
            <li class="list-group-item form-group question" ng-repeat="question in questions">
                <label for="answer_{{question.id}}"><span>{{($index + 1)}}</span>{{question.questionText}}</label>
                <div class="col-md-12">
                    <control content="question"/>
                </div>

            </li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" ng-click="submitAnswers()">Submit</button>
            </div>
        </div>
    </form>
    <div class="alert alert-info" ng-if="debug">{{questions | json}}</div>
</section>
<div class="alert alert-success thank-you" ng-show="thankYou">
    Thank you for participating in this survey
</div>