﻿<div class="multiple-choice radio-buttons">
    <label ng-repeat="option in content.options">
        <input type="radio" value="{{option.value}}" ng-model="content.answer" /> {{option.display}}
    </label>
</div>