﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}
*/

.questions {
    margin-bottom: 20px;
}
.question {
    position: relative;
}

.question label {
    font-size: 20pt;
}
.question label span {
    color: #1e90ff;
}

.question label span::after {
    content: ". ";
    color: #1e90ff;
}

.question div,
.question input,
.question textarea {
    background-color: #a9a9a9;
    color: #fff;
}

.question input,
.question textarea {
    border: none;
}

#questionnaire-page {
    clear: both;
}

.multiple-choice {
    padding-top: 10px;
    padding-bottom: 10px;
}

.multiple-choice label {
    display: block;
    font-size: 14px;
    border-bottom: solid 1px #fff;
}

.multiple-choice label:last-child {
    border-bottom: none;
}

.multiple-choice>label>input {
    width: 50px;
}

.thank-you {
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    
}

.thank-you::before {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
    margin-right: 20px;
}

#toast-container {
    margin-top: 50px;
}