﻿@model PairingTest.Web.Models.QuestionnaireViewModel
@{
    ViewBag.Title = Model.QuestionnaireTitle;
}

<section id="questionnaire-page" ng-app="questionnaire" data-service-url="@Model.ServiceURL">
    <ng-view></ng-view>    
</section>

@section scripts
{
    @Html.Partial(MVC.Shared.Views._Angular)
    <script src="//vitalets.github.io/checklist-model/checklist-model.js"></script>
    <script src="~/CustomScripts/Angular/app.js"></script>
}
